.expenses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.amount{
    display: flex;
    width: 30%;
}

.title{
    display: flex;
    width: 37%;
    float: left;
}

.date{
    display: flex;
    margin-right: 10px;
    width: 33%;
    float: left;
}

.itemList{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    background-color: #3f3f3f;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

.inpt{
    width: 300px;
    margin: 0 5px 10px 5px;;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.inpt:focus{
    background-color:lightgoldenrodyellow;
}