@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body{
    background-color: #3f3f3f;
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.5s;
}

.wrapper-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 40, 40);
    box-shadow: black 0px 0px 5px;
    border: 1px solid #3f3f3f;
    border-radius: 5px ;
    padding: 10px;
    margin-top: 25px;
    transition: 0.5s;
    width: 300px;
}

.notAvailable{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

.btn1{
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}